@charset "utf-8";

/* Mobile */
@media screen and (min-width: 100px) and (max-width: 767.9px){


}

/* Big screen */
@media screen and (min-width: 768px){
	
	p{
		font-size: 2rem;
		padding-left: 10vw;
	}

	#test{
		width: 500px;
		height: 500px;
		border: 3px solid grey;
	}
	
	}