@charset "UTF-8";
@import url("variabelen.css");

html {
    background-color: var(--main-bg-color);
}

body {
    width: 90vw;
    margin-left: 4vw;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 90vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid #33FDFE;
    margin-bottom: 7%;
}

header article {
    display: flex;
    flex-direction: row;
}

header article:nth-child(1) img {
    margin-left: 2.5vw;
    width: 2.5vw;
}

header article:nth-child(3) img, header article:nth-child(4) img {
    width: 5vw;
}

header article:nth-child(3) img {
    margin-left: 20vw;
}

#item-nav ul{
    font-size: var(--p-font-size);
}

#item-nav a {
    margin-left: 1vw;
    text-decoration: none;
}

#item-nav a:link, a:active, a:visited {
    color: var(--p-font-color);
}
#drop-nav, #menu {
    display: none;
}

#item-nav a:hover {
    color: var(--main-color);
}

main {
    width: 90vw;
    height: 70vh;
}

footer {
    width: 90vw;
    height: 8vh;
    border: 5px solid #33FDFE;
}

footer article {
    display: flex;
    flex-direction: row;
}

footer article:nth-child(1) {
    align-items: center;
    margin-right: 3.5vw;
}

footer article:nth-child(1) p {
    margin-left: 2.5vw;
    margin-right: 3vw;
    font-size: 1.5rem;
    color: var(--p-font-color);
}

footer article:nth-child(1) div {
    margin-left: 20vw;
    color: var(--main-color);
}

#form{
    width: 50%;
    margin: auto;
}

.group{
    margin: 2% 0;
}

#form input.input{
    padding: 8px 6px;
    width: 80%;
}
#form textarea#text_area{
    margin: 2% 0 4% 0;
    width: 100%;
    height: 100px;
}

#form button#button {
    width: 30%;
    padding: 8px 6px;
}


/* CSS Document */
@media screen and (min-width: 100px) and (max-width:600px) {
    header {
		width: 90vw;
		height: 8vh;
        border: none;
	}

    #item-nav, header article:nth-child(3) img, header article:nth-child(4) img {
        display: none;
    }

    header article:nth-child(5) {
		display: flex;
		flex-direction: row;
        justify-content: flex-start;
        margin-left: 3vw;
	}

    header article:nth-child(1) img {
        margin-left: 2.5vw;
        width: 10vw;
    }

    #drop-nav {
        font-size: 2rem;
        color: white;
		display: flex;
		cursor: pointer;
        align-content: center;
	}

    #menu {
        display: flex;
        flex-direction: row;
        margin-top: 5.5vh;
        margin-right: 2vw;
    }
 
    #menu a {
        font-size: 0.7rem;
        margin-left: 2.3vw;
        margin-top:0.4vh;
        text-decoration: none;
    }
 
    #menu a:hover {
        color: var(--main-color);
    }
 
    #menu a:active, a:visited { 
        color: white;
    }
    #form button#button {
        width: 45%;
    }

    footer {
		width: 90vw;
		height: 8vh;
        border: none;
    }

    footer article {
        display: flex;
        flex-direction: column;
    }

    footer article:nth-child(1) {
        align-items: center;
    }

    footer article:nth-child(1) p {
        font-size: 1rem;
        color: var(--p-font-color);
    }

    footer article:nth-child(1) div {
        color: var(--main-color);
        margin: 0;
    }
}