@charset "UTF-8";
@import url("variabelen.css");

/* CSS Document */
@media screen and (min-width: 100px) and (max-width:768.9px) {

}

/* bigscreen */
@media screen and (min-width: 769px) {

    html {
        background-color: var(--main-bg-color);
        border: 5px solid #33FDFE;
    }

    body {
        width: 90vw;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
    }

    header {
		width: 90vw;
		height: 8vh;
		display: flex;
		flex-direction: row;
        align-items: center;
	}

    header article {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

    .item-logo img {
        width: 10vw;
    }

    #item-nav ul{
        font-size: var(--p-font-size);
	}

    #item-nav a {
        margin-left: 5vw;
        text-decoration: none;
    }

    #item-nav a:link, a:active, a:visited {
		color: var(--p-font-color);
	}

    #item-nav a:hover {
		color: var(--main-color);
	}

}